// Here you can add other styles
.dropdown-item {
    position: relative;
    display: inline-block;
}

.dropdown-item:hover {
    display: block;
    background-color: gray;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--frame-color);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}